---
import Head from "../components/Head.astro"

---
<Head />
<script is:inline type="importmap">
  {
    "imports": {
      "three": "https://unpkg.com/three@v0.160.0/build/three.module.js",
      "three/addons/": "https://unpkg.com/three@v0.160.0/examples/jsm/"
    }
  }
</script>
<script is:inline type="module" src="/404main.js"></script>

  <!-- 
// const shuffle = (array) => {
  //   return array
  //     .map((a) => ({ sort: Math.random(), value: a }))
  //     .sort((a, b) => a.sort - b.sort)
  //     .map((a) => {
  //       const builder = imageUrlBuilder(sanityClient)
  //       console.log(a)
  //       function urlFor(source) {
  //         if (source === undefined) {
  //           return null
  //         } else return builder.image(source)
  //       }

  //       return (
  //         <div
  //           slug={a.value.slug.current}
  //           key={a.value._id}
  //           id={a.value._id}
  //           className=""
  //         >
  //           {a.value.gallery ? (
  //             a.value.gallery.map((data) => {
  //               const source = urlFor(data)
  //               return <img className="h-auto !block" src={source} alt="" />
  //             })
  //           ) : (
  //             <span></span>
  //           )}
  //           {/* <a href={`/${a.value.slug.current}`}>
  //             <div
  //               id={a.value._id}
  //               className="cursor-pointer transition ease-in opacity-0 delay-0 duration-500 absolute bottom-[0px] block border-4 border-grey-500 bg-black text-white p-2 group-hover:opacity-100"
  //             >
  //               <div>{a.value.title}</div>
  //               <div>
  //                 description:
  //                 <div>
  //                   Ea sint veniam ea consequat officia fugiat pariatur dolor
  //                   consectetur. Reprehenderit tempor consectetur anim ea
  //                   exercitation. Laboris ea nisi magna voluptate ad nisi duis.
  //                 </div>
  //               </div>

  //               {a.value.gallery ? (
  //                 a.value.gallery.map((data) => {
  //                   const source = urlFor(data)
  //                   return (
  //                     <>
  //                       <img className="h-auto" src={source} alt="" />
  //                     </>
  //                   )
  //                 })
  //               ) : (
  //                 <span></span>
  //               )}
  //             </div>
  //           </a> */}
  //         </div>
  //       )
  //     })
  // } -->



