---


---

<script is:inline type="importmap">
  {
    "imports": {
      "three": "https://unpkg.com/three@v0.160.0/build/three.module.js",
      "three/addons/": "https://unpkg.com/three@v0.160.0/examples/jsm/"
    }
  }
</script>
<script is:inline type="module" src="/main.js"></script>
// const shuffle = (array) => {
  //   return array
  //     .map((a) => ({ sort: Math.random(), value: a }))
  //     .sort((a, b) => a.sort - b.sort)
  //     .map((a) => {
  //       const builder = imageUrlBuilder(sanityClient)
  //       console.log(a)
  //       function urlFor(source) {
  //         if (source === undefined) {
  //           return null
  //         } else return builder.image(source)
  //       }

  //       return (
  //         <div
  //           slug={a.value.slug.current}
  //           key={a.value._id}
  //           id={a.value._id}
  //           className=""
  //         >
  //           {a.value.gallery ? (
  //             a.value.gallery.map((data) => {
  //               const source = urlFor(data)
  //               return <img className="h-auto !block" src={source} alt="" />
  //             })
  //           ) : (
  //             <span></span>
  //           )}
  //           {/* <a href={`/${a.value.slug.current}`}>
  //             <div
  //               id={a.value._id}
  //               className="cursor-pointer transition ease-in opacity-0 delay-0 duration-500 absolute bottom-[0px] block border-4 border-grey-500 bg-black text-white p-2 group-hover:opacity-100"
  //             >
  //               <div>{a.value.title}</div>
  //               <div>
  //                 description:
  //                 <div>
  //                   Ea sint veniam ea consequat officia fugiat pariatur dolor
  //                   consectetur. Reprehenderit tempor consectetur anim ea
  //                   exercitation. Laboris ea nisi magna voluptate ad nisi duis.
  //                 </div>
  //               </div>

  //               {a.value.gallery ? (
  //                 a.value.gallery.map((data) => {
  //                   const source = urlFor(data)
  //                   return (
  //                     <>
  //                       <img className="h-auto" src={source} alt="" />
  //                     </>
  //                   )
  //                 })
  //               ) : (
  //                 <span></span>
  //               )}
  //             </div>
  //           </a> */}
  //         </div>
  //       )
  //     })
  // }
---
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>


<button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="hover: underline">Work
  </button>
  
  <!-- Dropdown menu -->
  <div id="dropdownHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
        </li>
      </ul>
  </div>
  
  

<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  <div class="grid gap-4">
      <div>
          <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">
      </div>
  </div>
  <div class="grid gap-4">
      <div>
          <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg" alt="">
      </div>
  </div>
  <div class="grid gap-4">
      <div>
          <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg" alt="">
      </div>
  </div>
  <div class="grid gap-4">
      <div>
          <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg" alt="">
      </div>
  </div>
</div>


